<h3 id="statistic_header">"{{ name }}" statistics</h3>
<div ng-if="charts">
    <highchart config="charts[0]" ng-if="chartPercentType === 'duration'"></highchart>
    <highchart config="charts[2]" ng-if="chartPercentType === 'failed'"></highchart>
    <highchart config="charts[1]" ng-if="chartPercentType === 'metrics'"></highchart>
    <div ng-if="chartPercentType === 'number'">
        <div class="col-md-6">
            <highchart config="charts[2]"></highchart>
        </div>
        <div class="col-md-6">
            <highchart config="charts[3]"></highchart>
        </div>
    </div>
    <div class="text-center">
        <div class="btn-group btn-group-xs" role="group">
            <button ng-show="chartsType === 0" type="button" class="btn btn-default active" ng-click="chartPercentType = 'failed'">failed & skipped</button>
            <button ng-show="chartsType === 1" type="button" class="btn btn-default active" ng-click="chartPercentType = 'number'">tests percent & number</button>
            <button type="button" class="btn btn-default" ng-click="chartPercentType = 'duration'"
                    title="Duration is a sum of all tests execution time (can differ from testplan execution time)">
                duration
            </button>
            <button type="button" class="btn btn-default" ng-click="chartPercentType = 'metrics'" ng-show="charts[1].series.length !== 0">metrics</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<hr/>

<div class="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{'active': activeTab === 'history'}">
            <a ng-click="activeTab = 'history'" style="cursor: pointer;">Launch history
            </a>
        </li>
        <li role="presentation" ng-class="{'active': activeTab === 'launchItems'}">
            <a id="launch_items_list" ng-click="activeTab = 'launchItems'" style="cursor: pointer;">Launch items
            </a>
        </li>
        <li role="presentation" ng-class="{'active': activeTab === 'actions'}">
            <a id="actions_list" ng-click="activeTab = 'actions'" style="cursor: pointer;">Actions</a>
        </li>
        <li role="presentation" class="pull-right">
            <a><span class="glyphicon glyphicon-question-sign" ng-click="open('launch/tabs')"></span></a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{'active': activeTab === 'history'}">
            <a ng-href="#{{ linkToFilter }}" ng-show="chartsType === 1"><span class="glyphicon glyphicon-link"
                    style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;" title="Share link">
            </span> Link filters</a>
            <a ng-show="chartsType === 1" ng-click="tableParams.filter({})" style="cursor:pointer;"><span class="glyphicon glyphicon-ban-circle"
                    style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;" title="Clear filters">
            </span> Clear filters</a>
            <a ng-href="#testplan/{{ testPlanId }}/execute" style="margin-top: 10px; margin-bottom: 10px;" class="pull-right">
                <span class="glyphicon glyphicon-repeat"></span>
                Launch
            </a>
            <br/>

            <table ng-table="tableParams" show-filter="true" class="table table-condensed table-bordered table-hover">
                <tbody>
                    <tr ng-repeat="launch in $data"
                        ng-class="{ 'danger': launch.percent_of_failed > 1 && launch.state === 2,
                         'warning': launch.percent_of_failed > 0,
                                        'success': launch.percent_of_failed == 0}"
                        ng-click="redirect($event, '/launch/' + launch.id)"
                        style="cursor:pointer">
                        <td data-title="'By'" filter="{'started_by': 'text'}">
                            <span class="info" ng-show="chartsType === 0">{{ launch.started_by }}</span>
                            <span class="info" ng-show="chartsType === 1" title="{{ launch.started_by }}">{{ launch.started_by | cut:true:45:'..'}}</span>
                        </td>
                        <td data-title="'Version'" ng-show="chartsType === 1" filter="{'version': 'text'}"
                            style="width: 8em;" ng-attr-title="{{ launch.build.version }}">
                            <div class="text-center">
                                {{launch.build.version | cut:true:12:'..'}}
                            </div>
                        </td>
                        <td data-title="'Hash'" ng-show="chartsType === 1" filter="{'hash': 'text'}"
                            style="width: 8em;" ng-attr-title="{{ launch.build.hash }}">
                            <div class="text-center">
                                {{launch.build.hash | cut:true:12:'..'}}
                            </div>
                        </td>
                        <td data-title="'Branch'" ng-show="chartsType === 1" filter="{'branch': 'text'}"
                            style="width: 8em;" ng-attr-title="{{ launch.build.branch }}">
                            <div class="text-center">
                                {{ launch.build.branch | cut:true:12:'..'}}
                            </div>
                        </td>
                        <td data-title="'Branch'" ng-show="chartsType === 0">
                            <div ng-if="launch.parameters.env.BRANCH.length <= maxSymbolsForBranch
                                            || launch.parameters.env.branch.length <= maxSymbolsForBranch
                                            || launch.parameters.env.CORE_APP.length <=maxSymbolsForBranch" class="text-center">
                                {{ launch.parameters.env.BRANCH || launch.parameters.env.branch || launch.parameters.env.CORE_APP }}
                            </div>
                            <div ng-if="launch.parameters.env.BRANCH.length > maxSymbolsForBranch ||
                                            launch.parameters.env.branch.length > maxSymbolsForBranch" class="text-center">
                                <span class="glyphicon glyphicon-info-sign" title="{{ launch.parameters.env.BRANCH || launch.parameters.env.branch }}"></span>
                            </div>
                        </td>
                        <td data-title="'Date'" class="text-center" style="width: 7em;">
                            {{ launch.created | date:"dd.MM HH:mm" }}
                        </td>

                        <td data-title="'Counts'" class="text-center" style="width: 15em;">
                            <span ng-if="launch.counts.passed !== 0" class="label label-success label-history" title="passed">
                                {{ launch.counts.passed }}</span>
                            <span ng-if="launch.counts.passed === 0" class="label label-default label-history label-zero" title="passed">
                                {{ launch.counts.passed }}</span>
                            <span ng-if="launch.counts.skipped !== 0" class="label label-warning label-history" title="skipped">
                                {{ launch.counts.skipped }}</span>
                            <span ng-if="launch.counts.skipped === 0" class="label label-default label-history label-zero" title="skipped">
                                {{ launch.counts.skipped }}</span>
                            <span ng-if="launch.counts.failed !== 0" class="label label-danger label-history" title="failed">
                                {{ launch.counts.failed }}</span>
                            <span ng-if="launch.counts.failed === 0" class="label label-default label-history label-zero" title="failed">
                                {{ launch.counts.failed }}</span>
                            <span ng-if="launch.counts.blocked !== 0" class="label label-danger label-history" title="blocked">
                                {{ launch.counts.blocked }}</span>
                            <span ng-if="launch.counts.blocked === 0" class="label label-default label-history label-zero" title="blocked">
                                {{ launch.counts.blocked }}</span>
                        </td>

                        <td data-title="'State'" class="text-center" style="width: 4em;">
                            <img ng-if="launch.success" src="./static/images/parrot_party.gif"/>
                            <span ng-if="!launch.success" class="{{ launch.state | statesClass }}">{{ launch.state | states }}</span>
                        </td>

                        <td data-title="'% fail'" class="text-center" style="width: 4em;">
                            {{ launch.percent_of_failed | number }}
                        </td>
                        <td data-title="'C'" style="width: 2em;">
                            <span class="badge" ng-if="launch.comments.count > 0">{{ launch.comments.count }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" ng-class="{'active': activeTab === 'launchItems'}" loading-container="launchItems.settings().$loading">
            <br/>
            <div class="alert alert-danger" role="alert" ng-bind="launchItemsErrors" ng-if="launchItemsErrors"></div>
            <a id="add_new_launch_item" ng-href="#testplan/{{ testPlanId }}/launch-item/add" style="margin-top: 10px;" class="pull-right">
                <span class="glyphicon glyphicon-plus"></span>
                Add new launch item
            </a>
            <table  ng-table="launchItems" class="table table-striped">
                <tr ng-repeat="launchItem in $data" ng-class="{ 'info': launchItem.type === 1, 'warning': launchItem.type === 2 }">
                    <td data-title="'Name'">
                        <span ng-if="!launchItem.$edit">{{ launchItem.name }}</span>
                        <div ng-if="launchItem.$edit"><input class="form-control" type="text" ng-model="launchItem.name" /></div>
                    </td>
                    <td data-title="'Command'">
                        <span ng-if="!launchItem.$edit"><pre>{{ launchItem.command }}</pre></span>
                        <div ng-if="launchItem.$edit"><textarea class="form-control" ng-model="launchItem.command" rows="10"></textarea></div>
                    </td>
                    <td data-title="'Timeout'">
                        <span ng-if="!launchItem.$edit">{{ launchItem.timeout }}</span>
                        <form role="form" name="launchItemForm">
                            <div ng-if="launchItem.$edit" ng-class="{'has-error': launchItemForm.timeout.$invalid && launchItemForm.timeout.$dirty}">
                                <input class="form-control" name="timeout" type="number" min="0" ng-model="launchItem.timeout" />
                            </div>
                        </form>
                    </td>
                    <td data-title="'Actions'" nowrap>
                        <button id="launch-item-edit-button" ng-if="!launchItem.$edit" href="" class="btn btn-default btn-xs" ng-click="launchItem.$edit = true" ng-disabled="profile === null">Edit</button>
                        <button id="launch-item-save-button" ng-if="launchItem.$edit" href="" class="btn btn-primary btn-xs"
                                ng-click="launchItem.$edit = false; saveLaunchItem(launchItem)" ng-disabled="launchItemForm.$invalid">Save</button>
                        <button id="launch-item-delete-button" ng-if="!launchItem.$edit" href="" class="btn btn-danger btn-xs" ng-click="deleteLaunchItem(launchItem)" ng-disabled="profile === null" ng-hide="launchItem.type === 1">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{'active': activeTab === 'actions'}">
            <br />
            <div ng-class="{'disabled': !formErrors, 'alert alert-danger': formErrors}" role="alert">{{ formErrors }}</div>
            <div ng-class="{'disabled': !formUpdate, 'alert alert-info': formUpdate}" role="alert">{{ formUpdate }}</div>
            <div  class="form-group">
                <label>Testplan name</label>
                <input name="name" ng-model="testplan.name" type="text" class="form-control" placeholder="Name" required \>
            </div>
            <div class="form-group">
                <label>Testplan description</label>
                <textarea ng-model="testplan.description" class="form-control" rows="5"
                          placeholder="Testplan description (can be empty)"></textarea>
            </div>
            <div class="form-group">
                <label>Testplan settings</label>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="testplan.hidden"> Hidden
                                    </label>
                                </div>
                                <div class="checkbox" ng-show="chartsType === 1">
                                    <label>
                                        <input type="checkbox" ng-model="testplan.show_in_summary"> Show on total chart
                                    </label>
                                </div>
                                <div class="checkbox" ng-show="chartsType === 1">
                                    <label>
                                        <input type="checkbox" ng-model="testplan.show_in_twodays"> Show in two days statistic
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="testplan.main"> Show in statistics
                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="If you choose this option, you will see this testplan on 'Short Statictics' page"></span>
                                    </label>
                                </div>
                                <div class="row form-group" ng-show="testplan.main===true">
                                    <div class="col-md-8">
                                        <b>StartedBy filter for statistics:</b>
                                        <input ng-model="testplan.filter" type="text"
                                               class="form-control" placeholder="ex. job/WebAPI_regression_full">
                                    </div>
                                </div>
                                <div class="row form-group" ng-show="testplan.main===true">
                                    <div class="col-md-3">
                                        <b>Name of env var for chart:</b>
                                        <input ng-model="testplan.variable_name" type="text" class="form-control" placeholder="ex. BRANCH">
                                    </div>
                                    <div class="col-md-5">
                                        <b>Regexp for filter env var values:</b>
                                        <input ng-model="testplan.variable_value_regexp" type="text" class="form-control" placeholder="ex. ^\d+$">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form-inline">
                <button type="submit" ng-disabled="testplan.$invalid || profile === null"
                        class="btn btn-primary" ng-click="updateTestPlan(testplan)">Update</button>
                <button type="submit" ng-disabled="profile === null"
                        class="btn btn-danger" ng-click="deleteTestPlan(testplan)">Delete</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ConfirmationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="modalTitle"></h4>
            </div>
            <div class="modal-body" ng-bind="modalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="modalCallBack()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>


