<h3>Total statistic
    <a><span class="glyphicon glyphicon-question-sign small pull-right" ng-click="open('dashboard/total')"></span></a>
</h3>
<hr>
<div class="text-center" ng-class="{ 'disabled': !formErrors, 'alert alert-warning': formErrors}"
     role="alert">{{ formErrors }}
</div>

<div ng-show="currentResult === null">
<div class="row col-md-4">
    <div ng-show="tableParams"><b>Group by:</b>
        <div class="btn-group btn-group-xs" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="initGroupBy='version'">version</button>
            <button type="button" class="btn btn-default" ng-click="initGroupBy='testplan'">testplan</button>
            <button type="button" class="btn btn-default active" ng-click="initGroupBy='suite'">suite</button>
            <button type="button" class="btn btn-default" ng-click="initGroupBy='name'">test name</button>
        </div>
    </div>
</div>
<div class="row col-md-8 pull-right">
    <table class="pull-right">
        <tr>
            <td><b>Columns: </b></td>
            <td ng-repeat="column in columns" style="padding-left: 10px;">
                <input type="checkbox" ng-model="column.visible" />
                <small style="position: relative;top: -2px;">{{column.title}}</small>
            </td>
        </tr>
    </table>
</div>
<div class="row"></div>
<hr style="border-color: transparent;">
<div>
  <table ng-show="tableParams" ng-table="tableParams" show-filter="true"
         class="table table-condensed table-bordered table-hover table-striped"
          template-pagination="removePageRow.html">
    <tbody ng-repeat="group in $groups">
      <tr class="ng-table-group" >
        <td colspan="{{ $columns.length }}">
            <a href="" ng-click="group.$hideRows = !group.$hideRows" style="text-decoration: none;">
                <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': !group.$hideRows, 'glyphicon-chevron-down': group.$hideRows }"></span>
                <b>{{ group.value }} </b>
                <div class="pull-right">
                    <span class="label label-danger label-balanced">
                        {{ group.data.length }}
                    </span>
                </div>
            </a>
        </td>
      </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="test in group.data" ng-class="{'hidden': test.hidden }"
            ng-click="openResult(test)" style="cursor:pointer">
            <td data-title="'Date'" class="text-center" style="width: 7em;" sortable="'launch'">
                {{ test.created | date:"dd.MM HH:mm" }}
            </td>
            <td data-title="'Version'" class="text-center" style="width: 7em;" filter="{'version': 'text'}"
                sortable="'version'" ng-show="getColumnVisibility('Version')">
                {{ test.version | cut:true:12:'..'  }}
            </td>
            <td data-title="'Hash'" class="text-center" style="width: 7em;" filter="{'hash': 'text'}"
                sortable="'hash'" ng-show="getColumnVisibility('Hash')">
                {{ test.hash | cut:true:12:'..' }}
            </td>
            <td data-title="'Branch'" class="text-center" style="width: 7em;" filter="{'branch': 'text'}"
                sortable="'branch'" ng-show="getColumnVisibility('Branch')">
                {{ test.branch | cut:true:12:'..' }}
            </td>
            <td data-title="'Testplan'" style="width: 12em;" filter="{'testplan': 'text'}" sortable="'testplan'"
                    ng-show="getColumnVisibility('Testplan')">
                <div class="panel-tree-view">{{ test.testplan }}</div>
            </td>
            <td data-title="'Suite'" sortable="'suite'" filter="{'suite': 'text'}" ng-show="getColumnVisibility('Suite')">
                <div class="panel-tree-view"> {{ test.suite | cut:true:24:'..'}}</div>
            </td>
            <td data-title="'Test name'" filter="{'name': 'text'}" style="padding-bottom: 1px;" sortable="'name'">
                <div class="panel panel-default panel-tree-view" style="margin-bottom: 5px;">
                    <div class="panel-body" style="background-color: whitesmoke; padding: 10px; padding-bottom: 5px;">
                        {{ test.name }}
                    </div>
                </div>
            </td>
            <td data-title="'sec.'" style="width: 2em;" sortable="'duration'" ng-show="getColumnVisibility('sec.')">{{ test.duration | toFixed }}</td>
            <td data-title="'Bugs'" style="width: 4em;" ng-show="getColumnVisibility('Bugs')">
                <div ng-repeat="bug in test.bugs">
                    <a class="label label-{{ bug.status | bugStatusClass }}"
                       href="https://jira.2gis.ru/browse/{{ bug.externalId }}"
                       title="{{ bug.name }}">{{ bug.externalId }}</a>
                </div>
            </td>
        </tr>
    </tbody>
  </table>
</div>
</div>

<div ng-if="currentResult !== null">
<div>

    <h4><a ng-href="#testresult/{{ currentResult.id }}/">
        <small><span class="glyphicon glyphicon-link" title="Link to testresult"></span></small>
    </a>{{ currentResult.suite }} <strong>{{ currentResult.name }}</strong></h4>
    <p class="text-left"><small>Duration: {{ currentResult.duration }}</small></p>
    <br>
    <div class="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a ng-click="closeResult()" style="cursor: pointer;">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                </a>
            </li>
            <li role="presentation" ng-class="{ 'active': activeTab === 'message' }">
                <a ng-click="setActiveTab('message')" aria-controls="message"
                   role="tab" data-toggle="tab" style="cursor: pointer;">Message</a>
            </li>
            <li role="presentation" ng-class="{ 'active': activeTab === 'trace' }"
                ng-show="currentResult.json && currentResult.failure_reason.stack_trace"><a
                    ng-click="setActiveTab('trace')" aria-controls="trace"
                    role="tab" data-toggle="tab" style="cursor: pointer;">Stack trace</a></li>
            <li role="presentation" ng-class="{ 'active': activeTab === 'steps' }"
                ng-show="currentResult.json && currentResult.failure_reason.steps.length !== 0">
                <a ng-click="setActiveTab('steps')" aria-controls="steps"
                   role="tab" data-toggle="tab" style="cursor: pointer;">Steps</a>
            </li>
            <li role="presentation" ng-class="{ 'active': activeTab === 'series' }"
                ng-show="currentResult.json && currentResult.charts.length !== 0"><a
                    ng-click="setActiveTab('series')" aria-controls="series"
                    role="tab" data-toggle="tab" style="cursor: pointer;">Series</a></li>
            <li role="presentation" ng-class="{ 'active': activeTab === 'attach' }"
                ng-show="currentResult.json && currentResult.failure_reason.attachments.length !== 0">
                <a ng-click="setActiveTab('attach')" aria-controls="attach"
                   role="tab" data-toggle="tab" style="cursor: pointer;">Attachments</a>
            </li>
            <li role="presentation" ng-class="{ 'active': activeTab === 'stdout' }"
                ng-show="currentResult.json && currentResult.failure_reason.system_out">
                <a ng-click="setActiveTab('stdout')" aria-controls="stdout"
                    role="tab" data-toggle="tab" style="cursor: pointer;">System out</a>
            </li>
            <li role="presentation" ng-class="{ 'active': activeTab === 'stderr' }"
                ng-show="currentResult.json && currentResult.failure_reason.system_err">
                <a ng-click="setActiveTab('stderr')" aria-controls="stderr"
                    role="tab" data-toggle="tab" style="cursor: pointer;">System err</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="message" ng-class="{ 'active': activeTab === 'message' }">
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <pre ng-show="currentResult.json">{{ currentResult.failure_reason.message }}</pre>
                        <pre ng-show="!currentResult.json" ng-bind-html="currentResult.failure_reason | linky:'_blank'"></pre>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="trace" ng-class="{ 'active': activeTab === 'trace' }">
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <pre>{{ currentResult.failure_reason.stack_trace }}</pre>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="steps" ng-class="{ 'active': activeTab === 'steps' }">
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-repeat="step in currentResult.failure_reason.steps">
                            <div class="panel panel-default" style="margin-bottom: 5px;">
                                <div class="panel-heading" style="border-bottom: 0px;">{{ step.name }}</div>
                                <div class="panel-body" ng-if="step.attachments">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div ng-repeat="attach in step.attachments">
                                                <div class="col-md-2" ng-if="attach['mime-type'] === 'image/png'">
                                                    <div class="thumbnail_container">
                                                        <a class="example-image-link" ng-href="{{ attach.url }}" data-lightbox="steps">
                                                            <div class="thumbnail thumbnail-square"
                                                                 ng-style="{'background-image': 'url({{ attach.url }})'}">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <p class="text-center" ng-if="attach['mime-type'] === 'image/png'" title="{{ attach.name }}">{{ attach.name | cut:true:18}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div ng-repeat="attach in step.attachments">
                                            <div ng-show="attach['mime-type'] === 'text/plain'" >
                                                <p><span class="glyphicon glyphicon-file"></span>
                                                    {{ attach.name }}:</p>
                                                <pre ng-bind-html="attach.url | linky:'_blank'"></pre>
                                            </div>
                                        </div>
                                        <div ng-show="isVideoMimeType(attach['mime-type'])">
                                            <br>
                                            <p><span class="glyphicon glyphicon-film"></span>
                                                {{ attach.name }}:</p>
                                            <pre ng-bind-html="attach.url | linky:'_blank'"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="series" ng-class="{ 'active': activeTab === 'series' }">
                <br/>
                <div ng-if="currentResult.charts && currentResult.charts.length !== 0">
                    <div ng-repeat="chart in currentResult.charts">
                        <div class="col-md-6">
                            <highchart config="chart"></highchart>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="attach" ng-class="{ 'active': activeTab === 'attach' }">
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="currentResult.failure_reason.attachments && currentResult.failure_reason.attachments.length !== 0">
                            <div class="container-fluid">
                                <div class="row">
                                    <div ng-repeat="attach in currentResult.failure_reason.attachments">
                                        <div class="col-md-2" ng-if="attach['mime-type'] === 'image/png'">
                                            <div class="thumbnail_container">
                                                <a class="example-image-link" ng-href="{{ attach.url }}" data-lightbox="attachments">
                                                    <div class="thumbnail thumbnail-square" ng-style="{'background-image': 'url({{ attach.url }})'}"></div>
                                                </a>
                                            </div>
                                            <p class="text-center" ng-if="attach['mime-type'] === 'image/png'" title="{{ attach.name }}">{{ attach.name | cut:true:18 }}</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div ng-repeat="attach in currentResult.failure_reason.attachments">
                                    <div ng-show="attach['mime-type'] === 'text/plain'">
                                        <p><span class="glyphicon glyphicon-file"></span>
                                            {{ attach.name }}: </p>
                                        <pre ng-bind-html="attach.url | linky:'_blank'">
                                        </pre>
                                    </div>
                                    <div ng-show="isVideoMimeType(attach['mime-type'])">
                                        <br>
                                        <p><span class="glyphicon glyphicon-film"></span>
                                            {{ attach.name }}:</p>
                                        <pre ng-bind-html="attach.url | linky:'_blank'"></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="stdout" ng-class="{ 'active': activeTab === 'stdout' }">
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <pre ng-show="currentResult.json">{{ currentResult.failure_reason.system_out }}</pre>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="stderr" ng-class="{ 'active': activeTab === 'stderr' }">
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <pre ng-show="currentResult.json">{{ currentResult.failure_reason.system_err }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>