<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="HelpModalLabel">
        <strong> "Launch item"</strong>
    </h4>
</div>

<div class="modal-body">
    <p>Launch item can be one of tree types: <b>deploy</b>, <b>regular</b> and <b>conclusive</b></p>
    <p><strong>Deploy script</strong></p>
    <pre>Command you want to execute before running tests. Only one for testplan.</pre>
    <p><strong>Regular script</strong></p>
    <pre>You can create as much regular scripts as you want. All these scripts execute in parallel.</pre>
    <p><strong>Conclusive script</strong></p>
    <pre>This script starts executing after all regular scripts are finished.</pre>
</div>
