<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="HelpModalLabel">
        <strong> "Testplan"</strong>
    </h4>
</div>

<div class="modal-body">
    <p><strong>Launch history</strong></p>
    <pre>On this tab you can navigate on you test launches. See launch state, date, branch of code and so on.</pre>
    <p><strong>Launch items</strong></p>
    <pre>List of your launch items. On this tab you can <b>edit</b> and <b>delete</b> items.
To add new one, click <strong>"Add new launch item"</strong>.</pre>
    <p><strong>Actions</strong></p>
    <pre>On this tab you can edit your testplan.</pre>
    <hr>
    <p><b>Launch</b></p>
    <pre>This link redirect you to "Execute testplan" page, where you can run your tests.</pre>
</div>
