<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="HelpModalLabel">
        <strong> "Project settings"</strong>
    </h4>
</div>

<div class="modal-body">
    <p>Here you can edit project settings values or add new <strong>key-value</strong> pair.</p>
    <p>The following settings are available:</p>
    <p><strong>color</strong></p>
    <pre>change project color in menu
<i>example:</i> #bdecae</pre>
    <p><strong>jira_projects</strong></p>
    <pre>project names from JIRA to link tickets to failed tests
<i>example:</i> NAME1,NAME2,NAME3</pre>
    <p><strong>result_preview</strong></p>
    <pre>type of failed test result preview: 'head' or 'tail'</pre>
</div>
