<div class="row" ng-show="!testplans">
    <div class="alert alert-warning text-center" role="alert" style="margin-top: 40px">
        List of projects is not available.<br/>
        Check you api instance. If it is working, open the link <a href="{{ api_path }}">{{ api_path }}</a> in new tab and accept certificate. <br/>
        Then refresh the page.
    </div>
</div>
<div ng-show="testplans">
    <h3>Short statistics
        <a><span class="glyphicon glyphicon-question-sign small pull-right" ng-click="open('dashboard/short_statistics')"></span></a>
    </h3>
    <div class="row" ng-show="testplans.length === 0">
        <div class="alert alert-warning text-center" role="alert" style="margin-top: 40px">
            Your project doesn't have any testplans to show in 'Short Statistics'.
            Please, configure testplans.
        </div>
    </div>
    <div ng-show="stages.length !== 0">
        <div class="panel panel-default">
            <table class="table table-bordered table-striped">
                <tr>
                    <td ng-repeat="stage in stages"><b>{{ stage.name }}</b></td>
                </tr>
                <tr>
                    <td ng-repeat="stage in stages">
                        <span class="label label-{{ stage.state }}">{{ stage.text }}</span>
                        <a href="{{ stage.link }}"><span class="glyphicon glyphicon-link"></span></a>
                        <br><span class="text-muted"><small>{{ stage.updated|date:"dd/MM/yy HH:mm" }}</small></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-info" ng-if="summaryTestplans.length !== 0">
        <div class="panel-heading">Total statistic</div>
        <div class="panel-body">
            <div ng-if="charts[0].xAxis.categories.length === 0">
                    <div class="alert alert-warning text-center" role="alert">
                        There are no total statistic for chosen period
                    </div>
                </div>
            <div class="row" ng-if="charts[0].xAxis.categories.length !== 0">
                <div class="col-md-6" ng-if="charts">
                    <highchart config="charts[0]"></highchart>
                </div>
                <div class="col-md-6" ng-if="charts">
                    <highchart config="charts[1]"></highchart>
                </div>
            </div>
            <div class="text-center">
                <div class="btn-group btn-group-xs" role="group">
                    <button ng-repeat="days in [3, 7, 14, 28]" type="button" class="btn btn-default"
                          ng-click="createTotalChart(days)"
                          ng-class="{active: days === 7}">{{days}} days
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="testplan in testplans">
        <div class="panel panel-default">
            <div class="panel-heading">{{ testplan.name }}
                <a ng-href="#/testplan/{{ testplan.id }}" class="pull-right">
                    <small>view testplan <span class="glyphicon glyphicon-chevron-right"></span></small>
                </a>
            </div>
            <div class="panel-body">
                <div ng-if="testplan.charts[0].xAxis.categories.length === 0">
                    <div class="alert alert-warning text-center" role="alert">
                        There are no finished launches for last {{ testplan.days }} days
                    </div>
                </div>
                <div class="row" ng-if="testplan.charts[0].xAxis.categories.length !== 0">
                    <div class="col-md-6" ng-if="testplan.charts">
                        <highchart config="testplan.charts[0]"></highchart>
                    </div>
                    <div class="col-md-6" ng-if="testplan.charts">
                        <highchart config="testplan.charts[1]"></highchart>
                    </div>
                    <div class="col-md-2"></div>
                    <div ng-if="testplan.variable_name && testplan.variable_name !== ''">
                        <div class="col-md-8" ng-if="testplan.charts[2].xAxis.categories.length !== 0">
                            <highchart config="testplan.charts[2]"></highchart>
                        </div>
                        <div class="col-md-8" ng-if="testplan.charts[2]">
                            <div class="alert alert-warning text-center" role="alert"
                                 ng-if="testplan.charts[2].xAxis.categories.length === 0">
                                There are no statistics for last {{ testplan.days }} days
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="btn-group btn-group-xs" role="group">
                        <button ng-repeat="days in [3, 7, 14, 28]" type="button" class="btn btn-default"
                              ng-click="addChartsToTestplan(testplan, days)"
                              ng-class="{active: days === 7}">{{days}} days
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

