<div class="row" ng-show="!projects || projects.length === 0">
    <div class="alert alert-warning text-center" role="alert" style="margin-top: 40px">
        List of projects is not available.<br/>
        Check you api instance. If it is working, open the link <a href="{{ api_path }}">{{ api_path }}</a> in new tab and accept certificate. <br/>
        Then refresh the page.
    </div>
</div>
<div ng-repeat="project in projects">
    <h3 ng-bind="project.name" ng-if="project.statistics.length > 0"></h3>
    <div ng-repeat="testplan in project.statistics">
        <div class="panel panel-default">
            <div class="panel-heading">{{ testplan.name }}
                <a ng-href="#/testplan/{{ testplan.id }}" class="pull-right">
                    <small>view testplan <span class="glyphicon glyphicon-chevron-right"></span></small>
                </a>
            </div>
            <div class="panel-body">
                <div ng-if="testplan.charts.length === 0">
                    <div class="alert alert-warning text-center" role="alert">
                        Testplan have not been launched for last {{ default_days }} days
                    </div>
                </div>
                <div class="row" ng-if="testplan.charts.length === undefined">
                    <div class="col-md-6" ng-if="testplan.charts">
                        <highchart config="testplan.charts.failed"></highchart>
                    </div>
                    <div class="col-md-6" ng-if="testplan.charts">
                        <highchart config="testplan.charts.total"></highchart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

