<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="HelpModalLabel">
        <strong> "Testplan"</strong>
    </h4>
</div>

<div class="modal-body">
    <pre>You can create different testsplans, grouping your tests as you want.</pre>
    <pre>If you want to create testplan for all users, delete <strong>Hidden</strong> tick.
<strong>Hidden</strong> testplan is shown only for creator.</pre>
</div>