<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="HelpModalLabel">
        <strong> "Handler"</strong> - function to handle jira issues
    </h4>
</div>

<div class="modal-body">
    <p><strong>Total count:</strong></p>
    <pre>total count of jira issues</pre>
    <p><strong>Cycle time:</strong></p>
    <pre>issue lifetime from the start of the work</pre>
    <p><strong>Lead time:</strong></p>
    <pre>issue lifetime from the creation of issue</pre>
</div>
